*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: white;
  --text-color: #121213;
  --box-border: hsl(214, 9%, 84%);
}

.darkmode {
  --bg-color: #121213;
  --text-color: white;
  --box-border: hsl(240, 2%, 23%);
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 0.5em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

.header {
  color: var(--text-color);
  border-bottom: 1px solid #39393c;
  width: 100%;
}

.header-wrapper {
  display: grid;
  grid-auto-columns: 1fr 4fr 1fr;
  align-items: center;
  text-align: center;
  grid-auto-flow: column;
}

.info {
  margin-left: 1em;
  cursor: pointer;
}

.stats {
  display: flex;
}

.stats > div > i {
  margin-right: 0.5em;
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  margin: 0.3em;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key.large {
  grid-column: span 3;
}

.key > i {
  font-size: 1.75em;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tile {
  color: var(--text-color);
  border: 0.05em solid var(--box-border);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.tile.flip {
  transform: rotateX(90deg);
}

.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.info-container {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  display: none;
}

.info-wrapper {
  width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.info-header {
  display: flex;
  padding: 5px 0;
  color: var(--text-color);
}

.info-header > h3 {
  margin: 0;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
}

.info-header > div {
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: center;
  border: none;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}

.info-body > p {
  font-size: 0.9rem;
}

.info-body > p > span {
  font-weight: bold;
}

.info-body > hr {
  border: none;
  border-bottom: 1px solid #39393c;
}

.info-word {
  display: flex;
}

.info-box {
  border: 2px solid #39393c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin-right: 0.3rem;
}

.correct {
  background-color: #538d4e;
  border: 2px solid #538d4e;
}

.wrong-location {
  background-color: #b59f3b;
  border: 2px solid #b59f3b;
}

.wrong {
  background-color: #3a3a3c;
  border: 2px solid #3a3a3c;
}
